@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500;700&family=Jost:wght@300;500;700&display=swap');

.compe {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center right;
    overflow: visible;
    background-color: #af43be;
    box-shadow: 0px 5px 10px rgba(169, 59, 197, 0.5), -0px -5px 10px #742d7e;;
    border-radius: 15px;
    padding: 20px;
    transition: 75ms ease-in;
    text-decoration: none !important;
    min-height: 150px;
    z-index: -2;
    cursor: pointer;
}

.compe_small {
    height: 210px;
}

.bottom_text {
    position: absolute;
    bottom: 0px;
}
.compe:hover {
    box-shadow: 5px 5px 5px rgba(169, 59, 197, 0.5), -5px -5px 5px #742d7e;;
    transform: scale(.99);
}

.compe_title {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.compe_title1 {
    font-size: 25px;
    margin-bottom: 0px;
}

.compe_title2 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.compe_col {
    min-width: 25%;
    max-width: 25%;
    margin-bottom: 30px;
}

.quiz {background-image: url('../images/competitions/LogoLomba_Quiz.png');}
.essay {background-image: url('../images/competitions/LogoLomba_Essay.png');}
.poster {background-image: url('../images/competitions/LogoLomba_Poster.png');}
.debat {background-image: url('../images/competitions/LogoLomba_Debat.png');}
.pkm {background-image: url('../images/competitions/LogoPKM.png');}
.pkmai {background-image: url('../images/competitions/LogoPKM_AI.png');}
.pkmgfk {background-image: url('../images/competitions/LogoPKM_GFK.png');}
.pkmgt {background-image: url('../images/competitions/LogoPKM_GT.png');}
.pkmk {background-image: url('../images/competitions/LogoPKM_K.png');}
.pkmkc {background-image: url('../images/competitions/LogoPKM_KC.png');}
.pkmpi {background-image: url('../images/competitions/LogoPKM_PI.png');}
.pkmpm {background-image: url('../images/competitions/LogoPKM_PM.png');}
.pkmr {background-image: url('../images/competitions/LogoPKM_R.png');}

.partiback {background-image: url('../images/daftar/logodaftar3.png'); }
.panitia {background-image: url('../images/daftar/logodaftar2.png'); }
.kontingen {background-image: url('../images/daftar/logodaftar1.png'); }


.versus {
    font-family: 'Barlow Condensed', sans-serif; 
    font-size: 24px; 
    font-weight: 500; 
    margin-bottom: 10px;
    color: #0e1738;
}

.fakultas {
    color: #0e1738;
}

.loading {
    height: auto;
    box-shadow: none;
    border-radius: 30px;
    background: linear-gradient(45deg, #ddd 25%, #f7f7f7 50%, #ddd 75%);
    background-size: 200% 200%;
    animation: loading_grad 400ms infinite linear;
    color: rgba(0, 0, 0, 0) !important;
}

@keyframes loading_grad {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: -100% 50%;
    }
}

.header_timeline {
    background-color: linear-gradient(90deg, #91C4F8 0%, #F7F7F7 50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    padding-top: 60px;
}

@media only screen and (max-width: 600px) {
    .compe_col {
        min-width: 50%;
        max-width: 50%;
    }

    .compe {
        padding: 15px;
		background-position: bottom right;
    }

    .header_timeline {
        background-size: 270px auto;
    }

    
}