.overlay {
    z-index: 200;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100vw;
    height: 100vh; 
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 300;
    cursor: pointer;
    transition: 200ms;
}

.overlay_left {
    min-width: 170px;
}

.overlay_left h1 {
    font-size: 36px;
}

.overlay_foreground {
    background-color: #F7F7F7;
    border-radius: 30px;
    position: fixed;
    height: auto;
    max-height: 570px;
    width: 600px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: 300px auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 50px;
    cursor: default;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
    transition: 200ms ease-in-out;
    z-index: 400;
    visibility: hidden;
}

.overlay_foreground  h1 {
    margin-bottom: 0px;
}

.participant {
    min-height: 100% !important;
    max-height: 460px;
    padding-left: 30px;
    padding-right: 0px;
    border-left: 2px solid #af43be;
    overflow: auto;
}

.participant h2 {
    font-family: 'Barlow Condensed', sans-serif; 
    font-size: 18px;
    margin-left: 0px;
    margin-top: 3px;
    margin-bottom: 15px;
}

.berkas_overlay_container {
    overflow-y: auto;
    max-height: 460px;
    border-radius: 15px;
}

.daftar_fore .compe {
    background-size: 100%;
}

.berkas_overlay_container .compe {
    background-size: contain;
}

.daftar_fore {
    width: 800px;
    max-height: 630px;
}

@media only screen and (max-width: 600px) {
    .overlay_foreground  {
        width: 80vw;
        padding: 30px;
        background-position: top right;
        background-size: 240px auto;
    }

    .participant {
        min-height: 100% !important;
        max-height: 205px;
        padding-left: 0px;
        border-left: none;
    }

    .daftar_fore {
        padding: 15px;
    }

    .daftar_overlay_container {
        max-height: 490px;
    }
}