@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500;700&family=Jost:wght@300;500;700&display=swap');

/* body::-webkit-scrollbar {
    width: 7px;
  }
  
body::-webkit-scrollbar-track {
    background: #f7f7f7;
}

body::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #91C5F8;
}

body::-webkit-scrollbar-thumb:hover {
    background: #6C87A3;
} */

html {
    /* overflow: hidden; */
    scroll-behavior: smooth !important;
}

img {
    text-indent: -10000px
}

::selection {
    color: white;
    background-color: #91C5F8;
}

.nopadding {
    padding-right: 0px;
    padding-left: 0px;
}

.active{
    border-radius: 15px;
    box-shadow: inset 5px 5px 10px rgba(173, 197, 221, 0.5), inset -5px -5px 10px rgba(255, 255, 255, 0.25);
    padding: 5px 15px;
}

.oimlogo {width: 400px;}

.divider {height: 200px;}
.medium {height: 100px;}
.small {height: 70px;}

body {
    background: #F7F7F7;
    font-family: 'Barlow Condensed', sans-serif !important;
    font-weight: 300;
    color: #405B76;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax {
    perspective: 1px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    /* top: 600px; */
    /* margin-top: 60px; */
    scroll-behavior: smooth !important;
}

.gradient {
    background: linear-gradient(128.86deg, #f6a6ff 21.48%, #af43be 54.7%);
}
.city_back::before {
    content:"";
    width: 100%;
    height: 100vh;
    top:120px;
    background-image: url('../images/others/Poin1_Homepage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: -3;
    transform: translateZ(-1px) scale(2);
}

.mascot::before {
    content:"";
    width: 100%;
    height: 100vh;
    background-size: 900px auto;
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    z-index: -2;
    transform: translateZ(-0.5px) scale(1);
    top: 500px;
    left: -400px;
}

.content {
    background-image: url('../images/homepage/Back.svg');
    /* background-color: aquamarine; */
    background-size: cover;
    z-index: 3;
}

.grey {color: #333;}

h1 {font-family: 'Jost'; font-size: 60px; font-weight: 700;}
h2 {font-family: 'Jost'; font-size: 36px; font-weight: 500; margin-bottom: 30px; z-index: -1;}
h3 {font-size: 24px;}
p {font-size: 18px; font-weight: 300;}
a {text-decoration: none !important; color: #af43be; font-family: 'Barlow Condensed', sans-serif !important;}
a:hover {color: #af43be}
.bold {font-weight: 700;}
.reg_link {
    font-size: 14px; 
    color:  #af43be;
    font-weight: 300;
}

.countdown {
    background: #F7F7F7;
    text-align: center;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.1), -15px -15px 25px rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    font-family: 'Jost';
    font-size: 96px;
    font-weight: 500;
    line-height: 150px;
    color: #405B76;
}

.countdown:first-of-type {padding-left: 0;}
.countdown:last-of-type {padding-right: 0;}

.onlypc {display: block;}
.onlymobile {display: none;}

.countlabel {
    margin-top: 15px;
}

.countmargin {
    margin: 0px 15px;
}

.scrolldown {
    height: 100px;
    position: absolute;
    left: 100px;
    top: 720px;
    animation: pulse 1s infinite;
}

.scrolldown:hover {
    animation: none;
}

@keyframes pulse
{
     0% {
        opacity: 0;
     }
     50% {
        opacity: 100;
     }
     100% {
        opacity: 0;
     }
}

.mybutton {
    border-radius: 15px;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 500;
    transition: 75ms;
    cursor: pointer;
    width: fit-content;
    margin: auto;
    margin-bottom: 0;
}

.mybutton:hover {
    transform: scale(.98);
}

.blue {background: #91C5F8; box-shadow: 0px 10px 15px rgba(91, 161, 232, 0.5); color: white !important;}
.white {background: white; box-shadow: 0px 10px 15px rgba(255, 255, 255, 0.5); color: #405B76 !important;}
.white:hover {box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);}
.blue:hover {box-shadow: 0px 0px 5px rgba(91, 161, 232, 0.5);}
.purple:hover {box-shadow: 0px 0px 5px rgba(230, 160, 248, 0.5);}
.purple {background: #af43be;box-shadow: 0px 10px 15px rgba(169, 59, 197, 0.5); color: white !important;}

.header {
    background: url('../images/others/Poin3_Header.png'), linear-gradient(128.86deg, #E8F3FF 21.48%, #af43be 54.7%);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 60px 0px;
    line-height: 70px;
    font-size: 60px;
    color: white;
    text-shadow: 0px 3px 3px #af43be;
}

.upload {
    text-align: center;
}

.theme {
    padding-left: 15px;
    width: 65%;
}

.registbox {
    padding: 30px;
    border-radius: 15px;
    background-color: #F7F7F7;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.registbox img {
    height: 40px;
}

.registbox img:hover {
    opacity: 0.5;
}

.loading {
    height: auto;
    box-shadow: none;
    border-radius: 30px;
    background: linear-gradient(45deg, #ddd 25%, #f7f7f7 50%, #ddd 75%);
    background-size: 200% 200%;
    animation: loading_grad 400ms infinite linear;
    color: rgba(0, 0, 0, 0) !important;
}

@keyframes loading_grad {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: -100% 50%;
    }
}

@media only screen and (max-width: 1024px) {
    .theme {
        width: 100%;
        padding-left: 0;
    }

    .registbox img {
        height: 30px;
    }
    .mascot::before {
        top: 40vh;
        left: -270px;
    }
}

.no-pad-right {padding-right: 15px;}
@media only screen and (max-width: 600px) {
    .onlypc {display: none;}
    .onlymobile {display: block;}
    .no-pad-right {padding-right: 0;}
    nav {height: 50px;}

    .navlogo {display: none;}

    .navbar a{
        color: #405B76;
        font-size: 16px;
    }

    h1 {font-size: 48px;}

    .oimlogo {width: 250px;}

    .scrolldown {
        height: 75px;
        right: 50%;
        top: 52vh;
        transform: translate(35%, -50%);
    }

    .city_back::before {
        top: 300px;
        transform: translateZ(-1px) scale(3);
    }
	
	.divider {height: 20vh;}
    .medium {height: 100px;}
    .small {height: 50px;}

    .countdown {
        font-size: 72px;
        line-height: 108px;
    }

    .countmargin {
        width: 5px;
    }

    .header {
        font-size: 42px;
        padding: 30px 0px;
        background-repeat: no-repeat;
    }
}
