{% extends 'base.html' %}
{% load static %}
{% block title %}
    About Us
{% endblock title %}
    
{% block content %}
    {% include 'navbar.html' %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <div class="container-fluid contain_about nopadding">
        <div class="container">
            <div class="top_divide"></div>
            <div class="row">
                <h1 style="margin-left: 15px;color: #0e1738;">About OIM UI 2021</h1>
            </div>
            <div class="row">
                <div class="col">
                    <p style="color: #ddd;"><b style="color: #0e1738;">OIM Universitas Indonesia (OIM UI)</b> 
                        merupakan program kerja berbentuk perlombaan 
                        keilmiahan di bawah <b style="color: #0e1738;">Departemen Pendidikan dan Keilmuan BEM UI</b>. 
                        Kegiatan ini diharapkan dapat menjadi wadah untuk mengembangkan minat dan bakat mahasiswa UI 
                        pada bidang keilmuan agar mampu memberikan kebermanfaatan bagi UI dan Indonesia. 
                        Tahun ini, <b style="color: #0e1738;">OIM UI</b> akan dilaksanakan selama kurang lebih dua minggu yang dimulai 
                        dengan pelaksanaan <b style="color: #0e1738;">Grand Opening</b> dan ditutup oleh pelaksanaan <b style="color: #0e1738;">Grand Closing</b>. 
                    <b style="color: #0e1738;">OIM UI 2021</b> akan menyelenggarakan 13 lomba yang yang terdiri dari PKM-R, PKM-K, 
                        PKM-PM, PKM-PI, PKM-KC, PKM-GT, PKM-AI, dan PKM-GFK, debat bahasa Indonesia, 
                        debat bahasa Inggris, esai, quiz, dan poster infografis. Semua cabang perlombaan 
                        tersebut dapat diikuti oleh seluruh <b style="color: #0e1738;">Fakultas dan Program Vokasi di Universitas Indonesia</b>.
                    </p>
                </div>
                <div class="col-4 onlypc"></div>
            </div>
            <div style="height: 75px;"></div>
        </div>

        <div class="container-fluid contain_about_content nopadding">
            <div style="height: 150px;" id="logo"></div>
            <div class="container">
                <h2 style="color: #0e1738;">Logo</h2>
                <div class="row">
                    <div class="col-md about_pic_contain">
                        <img class="about_logo" src="{% static 'images/others/logohdd.png' %}" alt="OIM 2021">
                    </div>
                    <div class="col-md-8">
                        <p class="grey" style="color: #0e1738;" >
                            Dengan membawakan tema <b style="color: #af43be;">Time Machine: Travel Back the Future</b>, mahasiswa 
                            diajak untuk menjelajahi waktu agar dapat menjadi lebih inovatif, adaptif, dan 
                            kolaboratif demi meningkatkan kualitas hidup masyarakat sebagai sebuah kontribusi untuk 
                            memajukan bangsa dan negara.
                        </p>
                    </div>
                </div>
                <div class="divider small" id="mascot"></div>
                <h2 style="color: #0e1738;">Maskot</h2>
                <div class="row">
                    <div class="col-md order-last about_pic_contain">
                        <img class="about_mascot" src="{% static 'images/about/mascot_general.png' %}" alt="OIM 2021">
                    </div>
                    <div class="col-md-8 order-first">
                        <p class="grey" style="color: #0e1738;">
                            Dalam perjalanan menjelajahi waktu, mahasiswa akan ditemani oleh <b style="color: #af43be;">Kazo</b>, maskot OIM UI 2021. 
                            Berasal dari bahasa Sansekerta "Caraka" dan nama modern "Kenzo", 
                            Kazo adalah seorang pengembara waktu yang cerdas, kreatif, dan bijaksana.
                        </p>
                    </div>
                </div>
                <div class="divider small"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider medium"></div>
    {% include 'footer.html' %}
{% endblock content %}