<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
    {% endblock title %} | OIM UI 2021
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/competimeline.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/loading.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/others/logohdd.png' %}">
</head>
    <body >
        <div id="loader" style="background-color: #af43be;">
            <img id="loadimg1" src="{% static 'images/loading/1.svg' %}">
            <img id="loadimg2" src="{% static 'images/loading/2.svg' %}">
            <img id="loadimg3" src="{% static 'images/loading/3.svg' %}">
            <img id="loadimg4" src="{% static 'images/loading/4.svg' %}">
            <img id="loadimg5" src="{% static 'images/loading/5.svg' %}">
            <img id="loadimg6" src="{% static 'images/loading/6.svg' %}">
            <img id="loadimg7" src="{% static 'images/loading/7.svg' %}">
            <img id="loadimg8" src="{% static 'images/loading/8.svg' %}">
            <img id="loadimg9" src="{% static 'images/loading/9.svg' %}">
            <img id="loadimg10" src="{% static 'images/loading/10.svg' %}">
            <p id="load_message" style="display: none;">It may takes a while to load. Please be patient.</p>
        </div>
        {% include 'overlay_daftar.html' %}
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        {% block content %}  
        {% endblock content %}
        <script src="{% static 'javascript/script.js' %}"></script>
    </body>
</html>