{% extends 'base.html' %}
{% load static %}


{% block title %}
    Booklets
{% endblock title %}
    
{% block content %}
{% include 'navbar.html' %}
<link rel="stylesheet" href="{% static 'css/booklets.css' %}">
    <h1 class="header">Booklets</h1>
    <div class="container-lg">
        <div class="small"></div>
        <h2 style ="color: #0e1738;">Booklets</h2>
        <div class="row">
            <a class="col compe_col" href = "https://drive.google.com/file/d/1PMCoLFIyTiDlTZBCyh7lnJ3GH7le5DQs/view?usp=sharing">
                <div class="bookback bookletdebat">
                </div>
            </a>
            <a class="col compe_col" href = "https://drive.google.com/file/d/1J0DerG0Ckew9iJGueLpfzaJ5DaxG5ZOG/view?usp=sharing">
                <div class="bookback bookletquiz">
                </div>
            </a>
            <a class="col compe_col" href = "https://drive.google.com/file/d/1YcrltEYeBfi6SQHX_qa2SeOJxxHcqVI-/view?usp=sharing">
                <div class="bookback bookletessay">
                </div>
            </a>
            <a class="col compe_col" href = "https://drive.google.com/file/d/1exXfBUIzkzyIHRugHUMQYhSjLHINOD76/view?usp=sharing">
                <div class="bookback bookletposter">
                </div>
            </a>
            <a class="col compe_col" href = "https://drive.google.com/file/d/1MahIHJDu7w5jpX_Gdb9PR8OPJHVYV9TO/view?usp=sharing">
                <div class="bookback bookletpkmai">
                </div>
            </a>
            <a class="col compe_col" href = "https://drive.google.com/file/d/1Nm_NvXDtSCNQqxYLJUNGdZSC_06nXUIS/view?usp=sharing">
                <div class="bookback bookletpkmgfk">
                </div>
            </a>
            <a class="col compe_col" href = "https://drive.google.com/file/d/1PEyrlXZ-tLTHooJ22xsWJFx4yJmlS9y8/view?usp=sharing">
                <div class="bookback bookletpkmgt">

                </div>
            </a>
            <a class="col compe_col" href = "https://drive.google.com/file/d/1cO9BfN6vB5ZuOOGocMmjYcaJua-GxZcj/view?usp=sharing">
                <div class="bookback bookletpkmk">

                </div>
            </a>
            <a class="col compe_col" href = "https://drive.google.com/file/d/1i9xu0BjeYx2leCiW1Zp-ujcBy3h6xyPN/view?usp=sharing">
                <div class="bookback bookletpkmkc">

                </div>
            </a>
            <a class="col compe_col" href = "https://drive.google.com/file/d/114mQHBDsf-BOZp3ChTlQMbXLg7TxTE9U/view?usp=sharing">
                <div class="bookback bookletpkmp">

                </div>
            </a>
            <a class="col compe_col" href = "https://drive.google.com/file/d/13lNr6Lc_hSdpO4ne-Fu_sPub3Jy4F7SY/view?usp=sharing">
                <div class="bookback bookletpkmm">

                </div>
            </a>
            <a class="col compe_col" href = "https://drive.google.com/file/d/1wQC9Mt16yCDPdeOBDmYqQUvuOoslTYvG/view?usp=sharing">
                <div class="bookback bookletpkmt">

                </div>
            </a>
        </div>
        <div class="small"></div>
        <h2 style ="color: #0e1738;">Formats</h2>
        <div class="row">
            <div class="col compe_col">
                <a href = "{% url 'homepage:pagenotavailable' %}">
                    <div class="compe pkmai">
                        <p class="bold compe_title" style="color: white;">PKM AI</p>
                    </div>
                </a>
            </div>
            <div class="col compe_col">
                <a href = "{% url 'homepage:pagenotavailable' %}">
                    <div class="compe pkmgfk">
                        <p class="bold compe_title" style="color: white;">PKM GFK</p>
                    </div>
                </a>
            </div>
            <div class="col compe_col">
                <a href = "{% url 'homepage:pagenotavailable' %}">
                    <div class="compe pkmgt">
                        <p class="bold compe_title" style="color: white;">PKM GT</p>
                    </div>
                </a>
            </div>
            <div class="col compe_col">
                <a href = "{% url 'homepage:pagenotavailable' %}">
                    <div class="compe pkmk">
                        <p class="bold compe_title" style="color: white;">PKM K</p>
                    </div>
                </a>
            </div>
            <div class="col compe_col">
                <a href = "{% url 'homepage:pagenotavailable' %}">

                    <div class="compe pkmkc">
                        <p class="bold compe_title" style="color: white;">PKM KC</p>
                    </div>
                </a>
            </div>
            <div class="col compe_col">
                <a href = "{% url 'homepage:pagenotavailable' %}">

                    <div class="compe pkmpi">
                        <p class="bold compe_title" style="color: white;">PKM PI</p>
                    </div>
                </a>
            </div>
            <div class="col compe_col">
                <a href = "{% url 'homepage:pagenotavailable' %}">
                    <div class="compe pkmpm">
                        <p class="bold compe_title" style="color: white;">PKM PM</p>
                    </div>
                </a>
            </div>
            <div class="col compe_col">
                <a href = "{% url 'homepage:pagenotavailable' %}">
                    <div class="compe pkmr">
                        <p class="bold compe_title" style="color: white;">PKM R</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="medium"></div>
    </div>
    {% include 'footer.html' %}
{% endblock content %}