{% load static %}
<footer class="container-fluid" id="footer">
    <div style="height: 5px; background-color: #f7f7f7; width: 100%; position: relative; top: -35px;"></div>
    <div class="container-lg">
        <div class="row">
            <div class="col">
                <p class="bold">OIM UI 2021</p>
                <a href="{% url 'homepage:homepage' %}">Home</a>
                <br>
                <a href="{% url 'homepage:about' %}">About Us</a>
                <br>
                <a href="{% url 'homepage:gallery' %}">Gallery</a>
                <br>
                <a href="{% url 'homepage:competitions' %}">Competitions</a>
                <br>
                <a href="{% url 'homepage:timeline' 'all' %}">Timeline</a>

            </div>
            <div class="col">
                <p class="bold">About Us</p>
                <a href="{% url 'homepage:about' %}">About OIM UI 2020</a>
                <br>
                <a href="{% url 'homepage:about' %}">Logo</a>
                <br>
                <a href="{% url 'homepage:about' %}">Mascot</a>
            </div>
            <div class="col">
                <p class="bold">Social Media</p>
                <a href="https://www.instagram.com/oim_ui/">Instagram</a>
                <br>
                <a href="https://www.twitter.com/@UI_OIM/">Twitter</a>
                <br>
                <a href="https://line.me/R/ti/p/@jqj0039y">LINE</a>
                <br>
                <a href="https://www.youtube.com/channel/UCGVWbsZkQ-ugDXZGeLpDXRw/">YouTube</a>
            </div>
            <div class="col-5 onlypc" id="bemui">
                <img src="{% static 'images/others/bemui2021.png' %}" alt="BEM UI">
            </div>
        </div>
    </div>
</footer>