{% extends 'base.html' %}
<html lang="en">
{% load static %}


{% block title %}
    Homepage
{% endblock title %}
    
{% block content %}
    <!-- <div class="header">
        <h1>Parallax Effect</h1>
    </div> -->
    {% include 'overlay_berkas.html' %}
    {% include 'overlay.html' %}
    <div class="parallax city_back gradient">
        {% include 'navbar.html' %}
        <div class="mascot onlypc"></div>
        <div class="small"></div>
        <div class="container" style="text-align: center;">
            <h3 style="color: white; font-family: 'Jost'; text-shadow: 0px 10px 15px rgba(169, 59, 197, 0.5);"><b>OIM UI 2021 </b><br>starts in</h3>
            <div class="small"></div>
            <!-- <img class="oimlogo" src="{% static 'images/others/Logo.png' %}" alt="OIM 2020"> -->
            {% include 'countdown.html' %}
            <div style="height: 30px;"></div>
            {% include 'registbox.html' %}
            <!-- <div class="row justify-content-center scrolldown onlypc">
                <a href="/#homepage_content">
                    <img src="{% static '/images/others/scroll.svg' %}" alt="Scroll" height="100%">
                </a>
            </div> -->
        </div>
        <div class="content" id="homepage_content">
            <div class="container">
                <div style="height: 140px;"></div>
                <div class="theme">
                    <h1 style="color: #0e1738;font-size: 50px;">Time Machine:</h1>
                    <h1 style="color: #0e1738;font-size: 50px;">Travel Back The Future</h1>
                    <div style="height: 15px;"></div>
                   


                    <p style="color: #0e1738;">
                        Dengan membawakan tema <b style="color: #af43be;">Time Machine: Travel Back the Future</b>, mahasiswa diajak untuk menjelajahi waktu agar dapat menjadi lebih inovatif, adaptif, dan kolaboratif demi meningkatkan kualitas hidup masyarakat sebagai sebuah kontribusi untuk memajukan bangsa dan negara.
                        Dalam perjalanan menjelajahi waktu, mahasiswa akan ditemani oleh <b style="color: #af43be;">Kazo</b>, maskot <b style="color: #af43be;">OIM UI 2021</b>. Berasal dari bahasa Sansekerta "Caraka" dan nama modern "Kenzo", <b style="color: #af43be;">Kazo</b> adalah seorang pengembara waktu yang cerdas, kreatif, dan bijaksana.
                    </p>
                </div>
                <div class="medium"></div>
                <div class="loading"></div>
                <h2 style="color: #0e1738;">Timeline</h2>
                <div style="height: 15px;"></div>
                <div class="row justify-content-end" style="padding-right: 15px">
                    <a href="{% url 'homepage:timeline' 'all' %}" class="mybutton purple" style="background: #af43be;box-shadow: 0px 10px 15px rgba(169, 59, 197, 0.5); color: white !important;">View All Event</a>
                </div>
				<div class="divider small"></div>
				<h2 style="color: #0e1738;">Sponsors</h2>
                <!-- <div class="row">
                    <img src="{% static 'images/sponsor/jenius.PNG' %}" height="100px" style="margin:10px" alt="Dropdown">
                    <img src="{% static 'images/sponsor/bogasari.jpg' %}" height="100px" style="margin:10px" alt="Dropdown">
                    <img src="{% static 'images/sponsor/whyapparel.png' %}" height="60px" style="margin-top:40px" alt="Dropdown">
                    <img src="{% static 'images/sponsor/taman_melati.jpg' %}" height="60px" style="margin-top:40px;margin-right:10px" alt="Dropdown">
                    <img src="{% static 'images/sponsor/inaco.jpg' %}" height="60px" style="margin-top:40px;margin-left:10px" alt="Dropdown">
                </div> -->
                <div class="divider small"></div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>

{% endblock %}