{% load static %}
<script src="{% static 'javascript/navbar.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<nav>
	<a class="logo_mobile" href="{% url 'homepage:homepage' %}"><img src="/static/images/others/logohdd.png" height="30px" alt="OIM 2021"></a>
	<div class="navi">
		<div class="hamburger">
			<img class="dropdown" src="{% static 'images/others/dropdown.svg' %}" height="15px" alt="Dropdown">
		</div>
		<div class="container" style="height: 100%;">
			<div class="row" style="height: inherit;">
				<div class="col-3 onlypc">
					<a class="logo_pc" href="{% url 'homepage:homepage' %}"><img height="60px" src="/static/images/others/logohdd.png" alt="OIM 2021"></a>
				</div>
				<div class="col" style="padding-right: 15px;">
					<ul class="nav-links" >
						<li><a href="{% url 'homepage:about' %}" style="color: #0e1738;">About Us</a></li>
						<li><a href="{% url 'homepage:gallery' %}" style="color: #0e1738;">Gallery</a></li>
						<li><a href="{% url 'homepage:competitions' %}" style="color: #0e1738;">Competitions</a></li>
						<li><a href="{% url 'homepage:timeline' 'all' %}" style="color: #0e1738;">Timeline</a></li>
						<li><a href="{% url 'homepage:booklets' %}" style="color: #0e1738;">Booklets</a></li>
						<div class="onlypc" style="width: 15px;"></div>
						<li><a onclick="uploadon('upload_foreground_daftar')" class="mybutton purple">Daftar</a></li>
					</ul>
				</div>
			</div>
		</div>
        <!-- Farizio was here -->
	</div>
</nav>