{% load static %}
<link rel="stylesheet" href="{% static 'css/overlay.css' %}">
<div class="fore overlay_foreground daftar_fore" id="upload_foreground_daftar">
    <h2 style="margin-left: 15px;color: #0e1738;">Daftar</h2>
    <div class="container">
        <div class="row">
            <div class="col-md" style="margin-bottom: 30px;">
                <a href="https://bit.ly/PendaftaranKetkonOIMUI21">
                    <div style="min-height: 120px; background-position: bottom right;" class="compe kontingen">
                        <p class="bold compe_title1" style="font-size:25px;color:white;">KETUA</p>
                        <p class="bold compe_title1" style="font-size:25px;color:white;">KONTINGEN</p>
                    </div>
                </a>
            </div>
            <div class="col-md" style="margin-bottom: 30px;">
                <a href="{% url 'homepage:pagenotavailable' %}">
                    <div style="min-height: 120px; background-position: bottom right;" class="compe panitia">
                        <p class="bold compe_title1" style="font-size:25px;color:white;">PANITIA</p>
                    </div>
                </a>
            </div>
         <div class="col-md" style="margin-bottom: 30px;">
                <a href="{% url 'homepage:pagenotavailable' %}">
                    <div style="min-height: 120px; background-position: bottom right;" class="compe partiback">
                        <p class="bold compe_title1" style="font-size:25px;color:white;">OIM</p>
                        <p class="bold compe_title1" style="font-size:25px;color:white;">KOLABORASI</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="overlay" id="overlay" onclick="off()">
</div>