{% load static %}
<link rel="stylesheet" href="{% static 'css/overlay.css' %}">
<div style="color: #0e1738;" class="fore overlay_foreground essay" id="esai_sub_open">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba"  style ="color: #0e1738;">Esai</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" style ="color: #0e1738;" >Submission Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'essay' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All Esai Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"  style ="color: #0e1738;"> Mon, Oct 18 2021 <br>00:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;color: #0e1738;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PengumpulanEsaiOIMUI2021" class="mybutton purple" id="overlay_linklomba">Submit Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground essay" id="esai_sub_open_1">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba" style="color: #0e1738;">Esai</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;color: #0e1738;" >Submission Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'essay' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All Esai Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu" style="color: #0e1738;"> Mon, Oct 18 2021 <br>00:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;color: #0e1738;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PengumpulanEsaiOIMUI2021" class="mybutton purple" id="overlay_linklomba">Submit Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground essay" id="esai_sub_close">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba" style="color: #0e1738;">Esai</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;color: #0e1738;" >Submission Closed</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'essay' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All Esai Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu" style="color: #0e1738;"> Wed, Nov 03 2021 <br>21:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;color: #0e1738;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PengumpulanEsaiOIMUI2021" class="mybutton purple" id="overlay_linklomba">Submit Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;"  class="fore overlay_foreground essay" id="esai_vid_open">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba" style="color: #0e1738;">Esai</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;color: #0e1738;" >Video Upload Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'essay' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All Esai Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu" style="color: #0e1738;"> Mon, Oct 18 2021 <br>00:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;color: #0e1738;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PengumpulanEsaiOIMUI2021" class="mybutton purple" id="overlay_linklomba">Upload Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground essay" id="esai_vid_close">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba" style="color: #0e1738;">Esai</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;color: #0e1738;" >Video Upload Closed</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'essay' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All Esai Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu" style="color: #0e1738;"> Wed, Nov 03 2021 <br>21:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;color: #0e1738;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PengumpulanEsaiOIMUI2021" class="mybutton purple" id="overlay_linklomba">Upload Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground essay" id="esai_quest">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba" style="color: #0e1738;">Esai</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;color: #0e1738;" >Question Section</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'essay' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All Esai Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu" style="color: #0e1738;"> Thu, Nov 11 2021 <br>08:30 WIB – 15:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;color: #0e1738;" id="overlay_tempat">Youtube</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="{% url 'homepage:pagenotavailable' %}" class="mybutton purple" id="overlay_linklomba" style="color: #0e1738;">Watch Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>
