{% load static %}
<link rel="stylesheet" href="{% static 'css/overlay.css' %}">
<div style="color: #0e1738;" class="fore overlay_foreground pkmgt" id="pkmgt_sub_open">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM GT</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Submission Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmgt' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM GT Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Thu, Sept 23 2021 <br>08:30 WIB – 18:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PENGUMPULANPKMOIMUI2021" class="mybutton purple" id="overlay_linklomba">Submit Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmgt" id="pkmgt_sub_open_1">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM GT</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Submission Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmgt' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM GT Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Thu, Sept 23 2021 <br>00:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PENGUMPULANPKMOIMUI2021" class="mybutton purple" id="overlay_linklomba">Submit Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmgt" id="pkmgt_sub_close">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM GT</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Submission Closed</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmgt' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM GT Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Thu, Oct 14 2021 <br>23:59 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PENGUMPULANPKMOIMUI2021" class="mybutton purple" id="overlay_linklomba">Submit Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmgt" id="pkmgt_video_open">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM GT</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Video Upload Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmgt' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM GT Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Mon, Oct 04 2021 <br>00:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PENGUMPULANPKMOIMUI2021" class="mybutton purple" id="overlay_linklomba">Upload Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmgt" id="pkmgt_video_close">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM GT</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Video Upload Closed</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmgt' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM GT Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Sun, Oct 24 2021 <br>23:59 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PENGUMPULANPKMOIMUI2021" class="mybutton purple" id="overlay_linklomba">Upload Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmgt" id="pkmgt_proposal_open">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM GT</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Proposal Grading Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmgt' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM GT Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Mon, Oct 18 2021 <br>00:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>

                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmgt" id="pkmgt_proposal_close">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM GT</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Proposal Grading Closed</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmgt' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM GT Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Sun, Nov 14 2021 <br>23:59 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>

                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmgt" id="pkmgt_presentation">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM GT</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Online Presentation</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmgt' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM GT Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Tue, Nov 02 2021 <br>08:00 WIB - 17:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Youtube</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/LivePKMGTOIMUI2021" class="mybutton purple" id="overlay_linklomba">Watch Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">
                <h1 class="versus"><b>Alda Fuji Yahmi</b></h1>
                <h2 class="fakultas"><b>2006473131</b> FKM </h2>

                <h1 class="versus"><b>Siti Naziyati Nur Haliza</b></h1>
                <h2 class="fakultas"><b>2006594233</b> FKM </h2>

                <h1 class="versus"><b>Anissa Luthfita Yuliana Dewi</b></h1>
                <h2 class="fakultas"><b>2006594504</b> FKM </h2>


                <h1 class="versus"><b>Noor Athifah Dzahyrah Sugandi</b></h1>
                <h2 class="fakultas"><b>1906375354</b> FMIPA </h2>

                <h1 class="versus"><b>Khairunnisa Saritilawah</b></h1>
                <h2 class="fakultas"><b>1906375625</b> FMIPA </h2>

                <h1 class="versus"><b>Reisya Nabila</b></h1>
                <h2 class="fakultas"><b>1906305966</b> FMIPA </h2>

                <h1 class="versus"><b>Azzahra Rahmania</b></h1>
                <h2 class="fakultas"><b>1906351726</b> FMIPA </h2>

                <h1 class="versus"><b>Muhammad Dalili Al Faris</b></h1>
                <h2 class="fakultas"><b>2006463010</b> FMIPA </h2>


                <h1 class="versus"><b>Muhammad Zaky Nur Fajar</b></h1>
                <h2 class="fakultas"><b>2006473756</b> FEB </h2>

                <h1 class="versus"><b>Jessica Annabel Tio Prisca</b></h1>
                <h2 class="fakultas"><b>2006473711</b> FEB </h2>

                <h1 class="versus"><b>Pranindiska Nurlistyo Naistana</b></h1>
                <h2 class="fakultas"><b>2006473806</b> FEB </h2>

                <h1 class="versus"><b>Anggita Fiorella Moreni</b></h1>
                <h2 class="fakultas"><b>2006473730</b> FEB </h2>

                <h1 class="versus"><b>Adzrani Anggita</b></h1>
                <h2 class="fakultas"><b>2006473743</b> FEB </h2>

                
                <h1 class="versus"><b>Azriel Bima Putra Anugrah</b></h1>
                <h2 class="fakultas"><b>2006598515</b> FIK </h2>

                <h1 class="versus"><b>Syahla Hauramanda</b></h1>
                <h2 class="fakultas"><b>2106752735</b> FIK </h2>

                <h1 class="versus"><b>Shinta Azzahra Pujihan</b></h1>
                <h2 class="fakultas"><b>2106708646</b> FIK </h2>

                <h1 class="versus"><b>Rendi Saputra</b></h1>
                <h2 class="fakultas"><b>2106752602</b> FIK </h2>

                <h1 class="versus"><b>Rochmad Nur Ihsan</b></h1>
                <h2 class="fakultas"><b>2006598635</b> FIK </h2>

                	
                <h1 class="versus"><b>Muhammad Akbar Magistra</b></h1>
                <h2 class="fakultas"><b>2006581243</b> FH </h2>

                <h1 class="versus"><b>Fira Janice Natasha Sinuraya</b></h1>
                <h2 class="fakultas"><b>2006525412</b> FH </h2>

                <h1 class="versus"><b>Yobel Manuel Oktapianus</b></h1>
                <h2 class="fakultas"><b>2006580751</b> FH </h2>	
               	

                <h1 class="versus"><b>Emir Gibraltar Faisal</b></h1>
                <h2 class="fakultas"><b>2006516351</b> FK </h2>

                <h1 class="versus"><b>Shakira Amirah</b></h1>
                <h2 class="fakultas"><b>2006531371</b> FK </h2>

                <h1 class="versus"><b>Muhammad Candrika Agyawisnu Yuwono</b></h1>
                <h2 class="fakultas"><b>2006536776</b> FK </h2>

                <h1 class="versus"><b>Josh Nathaniel Jowono</b></h1>
                <h2 class="fakultas"><b>2006522726</b> FK </h2>


                <h1 class="versus"><b>Devi Ayu Rahma Syifa</b></h1>
                <h2 class="fakultas"><b>2006464253</b> FIB </h2>

                <h1 class="versus"><b>Gita Indah Permatasari</b></h1>
                <h2 class="fakultas"><b>2006589901</b> FIB</h2>

                <h1 class="versus"><b>Lutfika Hanifatunnauli</b></h1>
                <h2 class="fakultas"><b>2006529171</b> FIB </h2>

                <h1 class="versus"><b> Andira Munifatul Basyori</b></h1>
                <h2 class="fakultas"><b>2006464215</b> FIB </h2>


                <h1 class="versus"><b>Ghulam Tulus Pambudi</b></h1>
                <h2 class="fakultas"><b>2006577164</b> FT </h2>

                <h1 class="versus"><b>Dara Paramita</b></h1>
                <h2 class="fakultas"><b>2006469885</b> FT </h2>

                <h1 class="versus"><b>Rizki Ramadhan Siregar</b></h1>
                <h2 class="fakultas"><b>1806233240</b> FT </h2>

                <h1 class="versus"><b>Muhammad Razi Ihram Pane</b></h1>
                <h2 class="fakultas"><b>2006577031</b> FT </h2>

                
                <h1 class="versus"><b>Karmila Putri Maullidya</b></h1>
                <h2 class="fakultas"><b>1906357963</b> FT FF </h2>

                <h1 class="versus"><b>Permata Ayunda Putri</b></h1>
                <h2 class="fakultas"><b>1906299660</b> FT FF</h2>

                <h1 class="versus"><b>Syifa Rahmadiani Ayunindra</b></h1>
                <h2 class="fakultas"><b>1906299686</b> FT FF</h2>

                <h1 class="versus"><b>Muhammad Fahrul Rizal</b></h1>
                <h2 class="fakultas"><b>1806194334</b> FT FF</h2>

                <h1 class="versus"><b>Rulaa Azzah Amalia</b></h1>
                <h2 class="fakultas"><b>1906404575</b> FT FF</h2>


                <h1 class="versus"><b>Nyoman Parta Manguwijaya</b></h1>
                <h2 class="fakultas"><b>2006605136</b> FIA </h2>

                <h1 class="versus"><b>Lintang Shafa Mazaya</b></h1>
                <h2 class="fakultas"><b>2006467822</b> FIA </h2>

                <h1 class="versus"><b>Zidan Amukti Rajendra</b></h1>
                <h2 class="fakultas"><b>2006482445</b> FIA </h2>


                <h1 class="versus"><b>Ramanti Prajna Pratisthita</b></h1>
                <h2 class="fakultas"><b>2106638495</b> FASILKOM </h2>

                <h1 class="versus"><b>Nafis Azizi Riza</b></h1>
                <h2 class="fakultas"><b>2106658843</b> FASILKOM </h2>
                
                <h1 class="versus"><b>Rahyd Rayhan Hermawan</b></h1>
                <h2 class="fakultas"><b>2106656043</b> FASILKOM </h2>
                
                <h1 class="versus"><b>Sasha Nabila Fortuna</b></h1>
                <h2 class="fakultas"><b>2106632226</b> FASILKOM </h2>

                <h1 class="versus"><b>Undissya Putri Maharani</b></h1>
                <h2 class="fakultas"><b>2106650935</b> FASILKOM </h2>

                <h1 class="versus"><b>Zidan Amukti Rajendra</b></h1>
                <h2 class="fakultas"><b>2006482445</b> FASILKOM </h2>
                

                <h1 class="versus"><b>Yoseph Januar Tedi</b></h1>
                <h2 class="fakultas"><b>2106746083</b> FISIP </h2>

                <h1 class="versus"><b>Arya Kusnanta</b></h1>
                <h2 class="fakultas"><b>2006522341</b> FISIP </h2>

                <h1 class="versus"><b>Krismanta Surbakti</b></h1>
                <h2 class="fakultas"><b>2106639402</b> FISIP </h2>
            </div>
        </div>
    </div>
</div>