{% load static %}
<link rel="stylesheet" href="{% static 'css/overlay.css' %}">
<div style="color: #0e1738;" class="fore overlay_foreground pkmr" id="pkmr_sub_open">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM R</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Submission Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmr' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM R Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Thu, Sept 23 2021 <br>08:30 WIB – 18:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PENGUMPULANPKMOIMUI2021" class="mybutton purple" id="overlay_linklomba">Submit Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmr" id="pkmr_sub_open_1">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM R</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Submission Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmr' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM R Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Thu, Sept 23 2021 <br>00:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PENGUMPULANPKMOIMUI2021" class="mybutton purple" id="overlay_linklomba">Submit Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmr" id="pkmr_sub_close">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM R</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Submission Closed</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmr' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM R Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Thu, Oct 14 2021 <br>23:59 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PENGUMPULANPKMOIMUI2021" class="mybutton purple" id="overlay_linklomba">Submit Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmr" id="pkmr_video_open">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM R</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Video Upload Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmr' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM R Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Mon, Oct 04 2021 <br>00:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PENGUMPULANPKMOIMUI2021" class="mybutton purple" id="overlay_linklomba">Upload Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmr" id="pkmr_video_close">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM R</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Video Upload Closed</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmr' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM R Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Sun, Oct 24 2021 <br>23:59 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PENGUMPULANPKMOIMUI2021" class="mybutton purple" id="overlay_linklomba">Upload Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmr" id="pkmr_proposal_open">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM R</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Proposal Grading Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmr' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM R Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Mon, Oct 18 2021 <br>00:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>

                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmr" id="pkmr_proposal_close">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM R</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Proposal Grading Closed</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmr' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM R Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Sun, Nov 14 2021 <br>23:59 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmr" id="pkmr_presentation">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM R</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Online Presentation</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmr' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM R Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Mon, Nov 01 2021 <br>08:00 WIB - 17:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Youtube</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://youtu.be/ZnXrDlyZ4LA" class="mybutton purple" id="overlay_linklomba">Watch Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">
                <h1 class="versus"><b>Ghina Rana Hanifah</b></h1>
                <h2 class="fakultas"><b>1906292383</b> FKM </h2>

                <h1 class="versus"><b>Patricia Kresnauli</b></h1>
                <h2 class="fakultas"><b>2006532052</b> FKM </h2>

                <h1 class="versus"><b>Cindy Patricia Yosika</b></h1>
                <h2 class="fakultas"><b>2006595375</b> FKM </h2>

                <h1 class="versus"><b>Alvin Wihono</b></h1>
                <h2 class="fakultas"><b>1906374894</b> FMIPA </h2>

                <h1 class="versus"><b>Jesaya Christian Ido Raja S.</b></h1>
                <h2 class="fakultas"><b>2006474020</b> FMIPA </h2>

                <h1 class="versus"><b>Juan de Bebetho</b></h1>
                <h2 class="fakultas"><b>1906347842</b> FMIPA </h2>

                <h1 class="versus"><b>Nabila Shananda</b></h1>
                <h2 class="fakultas"><b>1906376930</b> FMIPA </h2>

                <h1 class="versus"><b>Devi Tryana</b></h1>
                <h2 class="fakultas"><b>2006524662</b> FMIPA </h2>

                <h1 class="versus"><b>Febbeline</b></h1>
                <h2 class="fakultas"><b>2006573166</b> FMIPA </h2>

                <h1 class="versus"><b>Fadhel Haryo Bhagaskara</b></h1>
                <h2 class="fakultas"><b>1906358695</b> FEB </h2>

                <h1 class="versus"><b>Bilal Reginald Putra S.T</b></h1>
                <h2 class="fakultas"><b>1906387423</b> FEB </h2>

                <h1 class="versus"><b>Aisha Rizqi Mahirani</b></h1>
                <h2 class="fakultas"><b>1906360850</b> FEB </h2>

                <h1 class="versus"><b>Erin Glory Pavayosa</b></h1>
                <h2 class="fakultas"><b>2006473762</b> FEB </h2>

                <h1 class="versus"><b>Theresia Feline Husen</b></h1>
                <h2 class="fakultas"><b>2006567112</b> FK </h2>

                <h1 class="versus"><b>Syaharani Martiza Hakim</b></h1>
                <h2 class="fakultas"><b>2006467564</b> FK </h2>

                <h1 class="versus"><b>Anastasia Levi</b></h1>
                <h2 class="fakultas"><b>2006467614</b> FK </h2>

                <h1 class="versus"><b>Kayla Salsabila Wimbanu</b></h1>
                <h2 class="fakultas"><b>2006567466</b> FK </h2>

                <h1 class="versus"><b>Syifa Adelia Selena</b></h1>
                <h2 class="fakultas"><b>2006467734</b> FK </h2>

                <h1 class="versus"><b>Annisaa Eka Maulida</b></h1>
                <h2 class="fakultas"><b>1906297440</b> FIB </h2>

                <h1 class="versus"><b>George William Douglas Hutabarat</b></h1>
                <h2 class="fakultas"><b>1906392051</b> FIB</h2>

                <h1 class="versus"><b>Jennifer Otto Rivai</b></h1>
                <h2 class="fakultas"><b>1906391995</b> FIB </h2>

                <h1 class="versus"><b>Rayvaldo</b></h1>
                <h2 class="fakultas"><b>1906393281</b> FIB </h2>

                <h1 class="versus"><b>Zaneta Gilda</b></h1>
                <h2 class="fakultas"><b>1906297560</b> FIB </h2>

                <h1 class="versus"><b>Felicia Hanafi</b></h1>
                <h2 class="fakultas"><b>1906355390</b> FT </h2>

                <h1 class="versus"><b>Sherlyta Estella</b></h1>
                <h2 class="fakultas"><b>2006575801</b> FT </h2>

                <h1 class="versus"><b>Mudhita Putri</b></h1>
                <h2 class="fakultas"><b>1906355131</b> FT </h2>

                <h1 class="versus"><b>Febbeline</b></h1>
                <h2 class="fakultas"><b>2006573166</b> FT FMIPA </h2>

                <h1 class="versus"><b>Jeneta Hans</b></h1>
                <h2 class="fakultas"><b>2006536510</b> FT FMIPA </h2>

                <h1 class="versus"><b>Nur Afifah Choirunnisa</b></h1>
                <h2 class="fakultas"><b>2006467646</b> FT FMIPA </h2>
                
                <h1 class="versus"><b>Devi Tryana</b></h1>
                <h2 class="fakultas"><b>2006524662</b> FT FMIPA </h2>
                
                <h1 class="versus"><b>Tiffany Angie</b></h1>
                <h2 class="fakultas"><b>2006467974</b> FT FMIPA </h2>

                <h1 class="versus"><b>Kamilia Rahadyani</b></h1>
                <h2 class="fakultas"><b>1906365006</b> FPsi </h2>

                <h1 class="versus"><b>Desak Putu Senawati</b></h1>
                <h2 class="fakultas"><b>1906365050</b> FPsi </h2>
                
                <h1 class="versus"><b>Syalva Fuzi Annisya</b></h1>
                <h2 class="fakultas"><b>1906393691</b> FPsi </h2>
                
                <h1 class="versus"><b>Farryntya Noor Sabrina</b></h1>
                <h2 class="fakultas"><b>1906394441</b> FPsi </h2>

                <h1 class="versus"><b>Jiwaning Cahya Pangestuti</b></h1>
                <h2 class="fakultas"><b>2106630366</b> FISIP </h2>

                <h1 class="versus"><b>Agneta Yavelin</b></h1>
                <h2 class="fakultas"><b>2106720645</b> FISIP </h2>

                <h1 class="versus"><b>Intan Hestiana Putri</b></h1>
                <h2 class="fakultas"><b>2106747520</b> FISIP </h2>
            </div>
        </div>
    </div>
</div>