{% load static %}
<link rel="stylesheet" href="{% static 'css/overlay.css' %}">

<div style="color: #0e1738;" class="fore overlay_foreground poster" id="poster_sub_open">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">Poster</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Submission Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'poster' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All Poster Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu">  Mon, Oct 11 2021 <br>00:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PengumpulanInfografisOIM" class="mybutton purple" id="overlay_linklomba">Submit Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground poster" id="poster_sub_open_1">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">Poster</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Submission Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'poster' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All Poster Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu">  Mon, Oct 11 2021 <br>00:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PengumpulanInfografisOIM" class="mybutton purple" id="overlay_linklomba">Submit Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground poster" id="poster_sub_close">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">Poster</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Submission Closed</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'poster' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All Poster Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Sat, Oct 23 2021 <br>18:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PengumpulanInfografisOIM" class="mybutton purple" id="overlay_linklomba">Submit Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground poster" id="poster_vote_open">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">Poster</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Voting Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'poster' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All Poster Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Mon, Nov 01 2021 <br>20:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="http://bit.ly/VotingInfografisOIMUI" class="mybutton purple" id="overlay_linklomba">Vote Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">
                <h1 class="versus"><b>Angelique Valentia Wijaya</b></h1>
                <h2 class="fakultas"><b>2006523804</b> FF </h2>

                <h1 class="versus"><b>Agasha Zahra Mulyana</b></h1>
                <h2 class="fakultas"><b>2006536353</b> FKM </h2>

                <h1 class="versus"><b>Nabila Yulianingrum Adella Visco</b></h1>
                <h2 class="fakultas"><b>1906296734</b> FK </h2>

                <h1 class="versus"><b>Annisya Ayu Azzahrah</b></h1>
                <h2 class="fakultas"><b>2006485030</b> FMIPA </h2>

                <h1 class="versus"><b>Salsabila Anindya Sasikirana</b></h1>
                <h2 class="fakultas"><b>2106739084</b> FEB </h2>

                <h1 class="versus"><b>Annisa Siva Febriyanti</b></h1>
                <h2 class="fakultas"><b>2006524183</b> FIK </h2>

                <h1 class="versus"><b>Khusnul Fuadah</b></h1>
                <h2 class="fakultas"><b>2006577851</b> FT </h2>

                <h1 class="versus"><b>Izzah Asy Syahidah</b></h1>
                <h2 class="fakultas"><b>1906367024</b> FIB </h2>

                <h1 class="versus"><b>Aisyah Abdul Aziz</b></h1>
                <h2 class="fakultas"><b>2106714182</b> FISIP </h2>

                <h1 class="versus"><b>Princessa Untung</b></h1>
                <h2 class="fakultas"><b>2006478920</b> Vokasi </h2>

                <h1 class="versus"><b>Astrid Swardhani Putri</b></h1>
                <h2 class="fakultas"><b>2106707113</b> FASILKOM </h2>

                <h1 class="versus"><b>Amanda Putri Janitra</b></h1>
                <h2 class="fakultas"><b>2106652940</b> FH </h2>

                <h1 class="versus"><b>Sarah Athiyyahmaulidya Refyan</b></h1>
                <h2 class="fakultas"><b>2006468560</b> FKG </h2>

                <h1 class="versus"><b>Shafiyyah Atiqatush Shabihah</b></h1>
                <h2 class="fakultas"><b>2006532632</b> FPsi </h2>

                <h1 class="versus"><b>Halifa Nurnadhifa</b></h1>
                <h2 class="fakultas"><b>1906289552</b> FIA </h2>						
            </div>
        </div>
    </div>
</div>


<div style="color: #0e1738;" class="fore overlay_foreground poster" id="poster_vote_close">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">Poster</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Voting Closed</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'poster' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All Poster Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Mon, Nov 08 2021 <br>20:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="http://bit.ly/VotingInfografisOIMUI" class="mybutton purple" id="overlay_linklomba">Vote Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>