{% load static %}
<div class="container">
    <div class="row">
        <div class="col onlypc">
            <!-- <div class="registbox">
                <iframe width="420" height="333" src="https://www.youtube.com/embed/7A5tmIr693c?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div> -->
        </div>
        <div class="col">
            <div class="registbox">
                <h2 style="color: #0e1738;">Peserta OIM 2021?</h2>
                <p style="color: #0e1738;">Kumpulkan berkasmu disini</p>
                <div style="height: 15px;"></div>
                <a class="mybutton purple" onclick="uploadon('upload_foreground_berkas')">Kumpulkan Berkas</a>
                <div style="height: 30px;"></div>
                <hr>
                <h2 style="color: #0e1738;">Contact Us</h2>
                <div class="row justify-content-center" style="padding-left: 15px; padding-right: 15px">
                    <div class="col-3">
                        <a href="https://www.instagram.com/oim_ui/"><img src="{% static 'images/socmed/Poin1_LogoSosmed_Instagram.png' %}" alt="Instagram"></a>
                    </div>
                    <div class="col-3">
                        <a href="https://www.twitter.com/@UI_OIM/"><img src="{% static 'images/socmed/Poin1_LogoSosmed_Twitter.png' %}" alt="Twitter"></a>
                    </div>
                    <div class="col-3">
                        <a href="https://line.me/R/ti/p/@jqj0039y"><img src="{% static 'images/socmed/Poin1_LogoSosmed_LINE.png' %}" alt="LINE"></a>
                    </div>
                    <div class="col-3">
                        <a href="https://www.youtube.com/channel/UCGVWbsZkQ-ugDXZGeLpDXRw/"><img src="{% static 'images/socmed/Poin1_LogoSosmed_Youtube.png' %}" alt="YouTube"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>